.messaggio {
    display:none;
    
}

.zona {
   border: 1px solid black;
   width: 100px;
   height:100px;
   display: inline-block;
   text-align: center;   
}

.pulsante-off{
  background-color: #2d5866;
}

.pulsante-on{
  background-color: #30e398;
}